main {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

main .main-content {
    display: flex;
    flex-direction: column;

}

main .main-content h2 {
    margin-bottom: 2%;
    font-size: 2.2em;
}

main .main-content .text p {
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 20%;
}

main .techs .cards-container {
    display: flex;
    align-items: center;
}

main .techs .cards-container .card {
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 1.8em;
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: box-shadow 0.25s ease-in-out;
}

main .techs .cards-container .card img {
    width: 200%;
}

main .techs .cards-container .card:hover {
    box-shadow: 0px 0px 8px #00e0ff;
}

main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img {
    width: 300px;
    height: 300px;
    cursor: pointer;
    border-radius: 150px;

    margin-bottom: 6%;
    border: #00e0ff solid;
    transition: 0.2s ease-in-out;
}

main figure img:hover {
    box-shadow: 0px 0px 6px #00e0ff;
}
